.calificacion-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 450px;
    padding: 20px;
    background-color: white;
}

.titulo {
    font-size: 2.5rem;
    font-weight: bold;
    color: #2c3e50;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Arial', sans-serif;
}

.calificacion-form {
    width: 100%;
    max-width: 500px;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.calificacion-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.calificacion-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.calificacion-form button {
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: white;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.calificacion-form button:hover {
    background-color: #0056b3;
}