.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #282c34;
    color: white;
    height: 70px;
  }

  p{
    font-size: 10px;
    font-weight: bold;
    text-align: center;
  }