header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #282c34; /* Color de fondo */
    color: white; /* Color del texto */
    height: 100px;
  }
  
  .logo {
    height: 50px; /* Altura de la imagen */
    margin-bottom: 10px; /* Espacio a la derecha de la imagen */
  }

  h1{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }